:global(.mainContainer) {
  width: clamp(323px, 80vw, 1000px);
  margin: 0 auto;
}

:global(.isHiddenVkUiSliderThumb .vkuiSliderThumb) {
  display: none;
}

:global(html) {
  scrollbar-gutter: stable;
}
