@import '@/app/styles/mixin.scss';

.TrackItem {
  --vkui--size_base_padding_vertical--regular: 9px;
  --vkui--size_base_padding_horizontal--regular: 16px;
  --TrackItemSingerTitleMr: 13px;
  --TrackItemOverlayImageColor: rgba(0, 0, 0, 0.6);
  --TrackItemOverlay: rgba(0, 0, 0, 0.1);
  display: flex;
}

.TrackItemOverlay {
  transition: background-color 0.3s ease;
  pointer-events: none; // Чтобы не мешал обработке кликов на Card
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--TrackItemSingerTitleMr));
  height: 100%;
  border-radius: 4px;
  background: var(--TrackItemOverlayImageColor, rgba(0, 0, 0, 0.6)); /* Цвет затемнения */
  pointer-events: none;
}

.imageContainer {
  @include resetPaddingForDivVkUI;
  position: relative;
}

.TrackItemImg {
  width: 100%;
  height: 100%;
  margin-right: 13px;
  border-radius: 8px;
  object-fit: cover;
}

.TrackItemCanvas {
  position: absolute;
  top: 21px;
  left: 28px;
  z-index: 2;
}

.TrackItemInfoAboutTrack {
  @include resetPaddingForDivVkUI;
}

.TrackItemTitleTrack {
  --vkui--font_text--font_family--regular: var(--fontRoboto);
  --vkui--font_weight_accent1: 400;
  --vkui--font_text--font_size--compact: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
  text-align: left;
}

.TrackItemSingerTitle {
  --vkui--font_text--font_family--regular: var(--fontRoboto);
  font-size: var(--TrackItemSingerTitleMr);
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: left;
  color: var(--colorSecondary);
}

.TrackItemArtist {
  font-size: 14px;
  color: #666;
}

.TrackItemDuration {
  font-size: 14px;
  color: #888;
}
