@import '@/app/styles/mixin.scss';

.TrackItem {
  --vkui--size_base_padding_vertical--regular: 9px;
  --vkui--size_base_padding_horizontal--regular: 16px;
  --TrackItemMaxHeight: 58px;
  --TrackItemSingerTitleFontSize: 13px;
  --TrackItemImgMr: 12px;
  --TrackItemSingerTitleWeight: 400;
  --TrackItemOverlayImageColor: rgba(0, 0, 0, 0.6);
  --TrackItemOverlay: rgba(0, 0, 0, 0.1);
  --TrackItemRightSlotGap: 8px;
  --TrackItemImgBr: 8px;
  --TrackItemArtistFontSize: 14px;
  --TrackItemImageContainerMinWidth: 52px;
  --TrackItemRightSlotContainerMinWidth: 54px;
  display: flex;
  align-items: center;
}

.TrackItemCardContainer {
  width: 100%;
  position: relative;
}

.TrackItemRightSlotContainer {
  @include resetPaddingForDivVkUI;
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: var(--TrackItemRightSlotGap);
  min-width: var(--TrackItemRightSlotContainerMinWidth);
}

.TrackItemOverlay,
.TrackItemOverlayTransparent {
  transition: background-color 0.3s ease;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.TrackItemOverlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.TrackItemOverlayTransparent {
  background-color: transparent;
}

.TrackItemImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--TrackItemImgMr));
  height: 100%;
  border-radius: 4px;
  background: var(--TrackItemOverlayImageColor, rgba(0, 0, 0, 0.6));
  pointer-events: none;
}

.TrackItemPlayIcon {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
  background-color: var(--vkui--color_icon_contrast);
  z-index: 2;
}

.TrackItemImageContainer {
  @include resetPaddingForDivVkUI;
  position: relative;
  max-height: 40px;
  min-width: var(--TrackItemImageContainerMinWidth);
}

.TrackItemNoteIconContainer {
  @include resetPaddingForDivVkUI;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  min-height: 40px;
  border-radius: 8px;
  background-color: var(--vkui--color_background);
}

.TrackItemImg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-right: var(--TrackItemImgMr);
  border-radius: var(--TrackItemImgBr);
  object-fit: cover;
}

.TrackItemCanvas {
  position: absolute;
  top: 22px;
  left: 28px;
  z-index: 2;
}

.TrackItemTime {
  --vkui--font_text--font_size--compact: 13px;
  --vkui--font_text--line_height--compact: 16px;
  --vkui--font_text--font_family--regular: var(--fontRoboto);
  letter-spacing: 0.2px;
  color: var(--colorSecondary);
  text-align: right;
}

.TrackItemInfoAboutTrack {
  @include resetPaddingForDivVkUI;
  flex-grow: 1;
  margin-right: 12px;
  max-width: calc(
    100% - var(--TrackItemRightSlotContainerMinWidth) - var(--TrackItemImageContainerMinWidth) -
      17px
  );
}

.TrackItemTitleTrackContainer,
.TrackItemSingerTitleContainer {
  width: fit-content;
  max-width: 100%;
}

.TrackItemTitleTrack {
  --vkui--font_text--font_family--regular: var(--fontRoboto);
  --vkui--font_weight_accent1: 400;
  --vkui--font_text--font_size--compact: 16px;
  --vkui--color_text_link: var(--vkui--color_text_primary_invariably);
  --vkui--font_text--line_height--compact: 20px;
  letter-spacing: 0.15px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block !important;
}

.TrackItemTitleTrackText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TrackItemSingerTitleLink {
  --vkui--color_text_link: var(--colorSecondary);
}

.TrackItemSingerTitle {
  --vkui--font_text--font_family--regular: var(--fontRoboto);
  --vkui--font_text--font_size--compact: var(--TrackItemSingerTitleFontSize);
  --vkui--font_text--line_height--compact: 16px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--TrackItemSingerTitleFontSize);
  font-weight: var(--TrackItemSingerTitleWeight);
  letter-spacing: 0.2px;
  text-align: left;
  color: var(--colorSecondary);
}

.TrackItemIconButton {
  color: var(--vkui--color_background_accent);
}
