@import '@/app/styles/mixin.scss';

.VolumeControl {
  --VolumeControlMaxWidth: 200px;
  @include resetPaddingForDivVkUI;
  width: var(--VolumeControlMaxWidth);
  display: flex;
  align-items: center;
}
